
body{
	margin: 0;
	padding: 0;
}

#pregunta{
	width: 100%;
	height: 20%;
	border: 2px solid #000000;
	border-radius: 8px;
	font: bold 1em sans-serif;
	color: #ffffff;
	text-align:center; 
	margin-bottom: 2%;
}
.pregunta{
	justify-content: center;
    align-items: center; 
	display: flex;
    background-color: rgb(47, 0, 1);
}
.panel_conjunto {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    font: bold 1.5em sans-serif;
    color: #000000;
    text-align: center;
    width: 90%;
    height: 20%;
    display: flex; 
    flex-direction: column;
	background-image: url(diseños/modern-abstract-highspeed-light-motion-effect-black-background-vector-illustration_54768-568.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.respuesta_group {
    display: flex;
    justify-content: space-between;
	margin-bottom: 10px;
	height: 50%;
}

.respuesta {
    width: 48%;
    color: white;
    background-color: rgb(47, 0, 1);
}

.desactivada {
    opacity: 0.5;
    pointer-events: none;
}

.rizq {
    left: 0;
    border: 2px solid #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	text-align: left;
}

.rder {
    right: 0;
    border: 2px solid #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
}

.panel_sup {
    position: absolute;
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    font: bold 1.5em sans-serif;
    color: #ffffff;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 20%;
    height: 7%;
    background-color: rgb(8, 8, 8, 0.90);
}

.panel_lat {
    position: absolute;
    margin-top: 5%;
    right: 0;
    font: bold 1.5em sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#iniciar {
    left: 10%;
}

#panel_comodin {
    position: absolute;
    top: 15%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comodin {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center; 
	display: flex;
}

.contenedor-figuras {
	height: 5%;
	justify-content: space-between;
    align-items: center; 
	margin-bottom: 3%;
    display: none;
    background-color: rgb(47, 0, 1);
}

.figura {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(197, 105, 105);
    font-size: small;
    justify-content: center;
    align-items: center; 
	display: flex;
}

.panel_flecha{
    position: absolute;
    top: 65%;
    right:5%;
    transform: translateY(-50%);
    font-size: 100px;
    display: none;
}

.logo{
    top: 5%;
    left: 5%;
    width: 75px;
    height: 75px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: absolute;
    background-image: url(diseños/99fdadba-e11c-444b-920e-3b8c9ee5bcba-profile_image-70x70.png);
    background-position: center;
    background-size: cover;
}

.panelOpciones{
    position: absolute;
    top: 20%;
    left: 30%;
    font: bold 1.5em sans-serif;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(47, 0, 1);
    border: 2px solid #000000;
    border-radius: 10px;
    height: 35%;
    width: 40%;
}

.opcionEncabezado {
    margin-top: 5%;
    margin-bottom: 10%;
    border-bottom: 4px solid #ffffff; /* Asegúrate de agregar 'solid' para especificar el tipo de borde */
    display: inline-block; /* Esto permite que el borde se ajuste al contenido */
    padding-bottom: 2px; /* Ajusta el espacio entre el texto y el borde */
    text-decoration: none; /* Evita el subrayado predeterminado */
}

.opcion{
    margin-bottom: 2%;
}

.opcion:hover{
    color: #c0be3f;
}

#comodinReroll{
    background-color: #000000;
    background-image: url(diseños/RerollLogo.png);
    background-size: cover;

}
#comodinPublico{
    background-color: #000000;
    background-image: url(diseños/PublicLogov2.png);
    background-size: cover;

}
#comodinLlamada{
    background-color: #000000;
    background-image: url(diseños/Phone.png);
    background-size: cover;

}
#comodin50{
    background-color: #000000;
    background-image: url(diseños/50.png);
    background-size: cover;

}

.contadorImg {
    position: absolute;
    bottom: 30%;
    left: 5%;
    src: url(diseños/ContadorV1.png);
    width: auto; 
    height: 250px;
}