
body{
	margin: 0;
	padding: 0;
}

#pregunta{
	width: 100%;
	height: 20%;
	border: 2px solid #000000;
	border-radius: 8px;
	font: bold 1em sans-serif;
	color: #ffffff;
	text-align:center; 
	margin-bottom: 2%;
}
.pregunta{
	justify-content: center;
    align-items: center; 
	display: flex;
}
.panel_conjunto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    font: bold 1.5em sans-serif;
    color: #000000;
    text-align: center;
    width: 90%;
    height: 30%;
    display: flex; 
    flex-direction: column;
	background-color: rgb(8, 8, 8, 0.90);
}


.respuesta_group {
    display: flex;
    justify-content: space-between;
	margin-bottom: 10px;
	height: 50%;
}

.respuesta {
    width: 48%;
    color: white;
}

.rizq {
    left: 0;
    border: 2px solid #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	text-align: left;
}

.rder {
    right: 0;
    border: 2px solid #000000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: left;
}

.panel_sup {
    position: absolute;
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    font: bold 1.5em sans-serif;
    color: #000000;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 10%;
    height: 3%;
}

.panel_lat {
    position: absolute;
    margin-top: 10%;
    right: 0;
    transform: translateY(-50%);
    border: 2px solid #000000;
    border-radius: 10px;
    font: bold 1.5em sans-serif;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.panel_sup span {
    display: block;
    padding: 10px;
}

#iniciar {
    left: 10%;
}

#panel_comodin {
    position: absolute;
    top: 10%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comodin {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contenedor-figuras {
	height: 10%;
	justify-content: space-between;
    align-items: center; 
	margin-bottom: 3%;
    display: flex; /* Utiliza flexbox para alinear las figuras en fila */
}

.figura {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Hace que las figuras sean redondas */
    margin-right: 5px; /* Espacio entre las figuras */
    background-color: #ccc; /* Color de fondo de las figuras */
}